<!-- Hero Section -->
<section class="bg-dark text-light p-5 text-center text-sm-start" id="home">
    <div class="container py-5">
        <div class="ds-m-flex align-items-center justify-content-between py-5">
            <div>
              <h1>Become a certified software engineer</h1>
              <h3 class="my-4">Flutter engineer</h3>
              <p class="lead my-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
        </div>
    </div>
  </section>